@import url("./reset.css");
@import url("./system-tokens.css");
@import url("./common.css");
@import url("./icons.css");
@import url("./navigation.css");
/* Content */
@import url("./content/grid.css");
@import url("./content/stories.css");
@import url("./content/new-post.css");
@import url("./content/create-room.css");
@import url("./content/feed.css");
/* Left Column */
@import url("./facebook-menu.css");
/* Right Column */
@import url("./right-column.css");

/* New Post Button */
.new-post-button {
  position: fixed;
  right: 16px;
  bottom: 16px;
  width: 48px;
  height: 48px;
  background: var(--secondary-button-background-floating);
  box-shadow: 0 2px 4px var(--shadow-1), 0 12px 28px var(--shadow-2);
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 1000px;
}
