.content-grid {
  display: grid;
  grid-template-columns: 1fr minmax(0, 3fr) 1fr;
  column-gap: 32px;
}
@media only screen and (max-width: 1300px) {
  .content-grid {
    grid-template-columns: 1fr minmax(0, 2fr) 1fr;
  }
}
@media only screen and (max-width: 1080px) {
  .content-grid {
    grid-template-columns: minmax(0, 1fr);
  }
}
.content-grid .column-center {
  /* background: pink; */
  padding-top: var(--header-height);
}
.content-grid .column-center .content-area {
  /* background: green; */
  max-width: 680px;
  margin: 0 auto;
  margin-top: 16px;
}
